<div class="container">
    <h2>Grocery Items</h2>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createItem">new Item</button>
    <table *ngIf= "groceryItems != undefined" class="table table-hover">
        <tr *ngFor="let groceryItem of groceryItems">
            <td>{{groceryItem["groceryName"]}}</td>
            <td><button (click)="setCurrItemId(groceryItem)" type="button" class="btn btn-info" data-toggle="modal" data-target="#editItem">
                edit</button></td>
            <td><button (click)="removeItem(groceryItem)" type="button" class="btn btn-danger">delete</button></td>
        </tr>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="groceryItem" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!--Grocery Name-->
                    <div class="form-group row">  
                        <label for="groceryName" class="col-3 col-form-label">Item Name</label>
                        <div class="col-9">
                            <input class="form-control" type="text"  formControlName="groceryName"
                            placeholder="Enter Item name">
                        </div>
                    </div>
            
                    <!--Category-->
                    <div class="form-group row">  
                        <label for="groceryType" class="col-3 col-form-label">Category</label>
                        <div class="col-9">
                            <input class="form-control" type="text"  formControlName ="groceryType" 
                            placeholder="Enter a Category of Item">
                        </div>
                    </div>
            
                    <!--Price-->
                    <div class="form-group row">  
                        <label for="costOfItem" class="col-3 col-form-label">Price</label>
                        <div class="col-9">
                            <input class="form-control" type="number"  formControlName ="costOfItem" placeholder="Price">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="createItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form [formGroup]="groceryItem" (ngSubmit)="createItem()">
                  <div class="form-group">
                      <!--Grocery Name-->
                      <div class="form-group row">  
                          <label for="groceryName" class="col-3 col-form-label">Item Name</label>
                          <div class="col-9">
                              <input class="form-control" type="text"  formControlName="groceryName"
                              placeholder="Enter Item name">
                          </div>
                      </div>
              
                      <!--Category-->
                      <div class="form-group row">  
                          <label for="groceryType" class="col-3 col-form-label">Category</label>
                          <div class="col-9">
                              <input class="form-control" type="text"  formControlName ="groceryType" 
                              placeholder="Enter a Category of Item">
                          </div>
                      </div>
              
                      <!--Price-->
                      <div class="form-group row">  
                          <label for="costOfItem" class="col-3 col-form-label">Price</label>
                          <div class="col-9">
                              <input class="form-control" type="number"  formControlName ="costOfItem" placeholder="Price">
                          </div>
                      </div>
  
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" >Save</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </div>